{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <h1 class="ml-2">Edit Entry</h1>
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <div class="formContainer">
            <input class="form-control w-75 mb-1 ml-2" autocomplete="off" autofocus type="text" name="entryTitle" placeholder="Entry Title" value="{{ title }}">
        <textarea class="form-control w-75 mb-1 ml-2" type="text" name="entryContent" rows="15" wrap="soft" 
        maxlength="10000" class="form-control" autocomplete="off" 
        placeholder="Entry Body">{{ content }}</textarea>
        </div>
        <input class="btn btn-info ml-2" type="submit" value="Save" name="editBtn">
    </form>
{% endblock %}